 
mat-card{
    border: 1px solid lightpink;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


img{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
}

mat-form-field {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 60%;

}

.password{
    top: 60%;
}

button{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    width: 60%;
    border: 1px solid lightpink !important;
    outline: none !important;
}
