/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";




.btn{
    border: 1px solid lightpink;
    color: lightpink;
    background-color: white;
  
}

.btn:hover{
    background-color: lightpink;
    border: 1px solid lightpink;
    color: white;
}


.btn:focus,
.btn:focus{
    color: lightpink !important;
    background-color: white !important;
    border: 1px solid lightpink !important;
}

